.libs/
autom4te.cache/
build/
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
configure
configure.ac
configure~
kem.dep
kem.lo
liboqs/
libtool
modules/*
oqs.dep
oqs.la
oqs.lo
sig.dep
sig.lo
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
php_test_results_*